<!DOCTYPE html>
<html lang="sr-RS">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>Domaći rad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    


</head>

  <body>
    <header>
      <div class="container" >
        <h1 class="logo">SUR "DOMAĆI RAD"<br/>kuća dobre hrane</h1>
        
        <strong><nav class="menu">
          <ul >
            <a href="{{url_for('index')}}">Naslovna</a>
            <a href="{{url_for('menu')}}">Meni</a>
            <a href="{{url_for('reserve')}}">Rezervacija</a>
          </ul>
        </nav></strong>
      </div>
    </header>
    <main>
        <div class="container">
      
        {% block content %}
        {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
      
            (c) 2024, Vitomir Hadži-Đokić
        </div>
        
    </footer>
  </body>
</html>